.logo-img {
    position: relative;
    background-color: #c71585;
    z-index: 2;
    padding: 1rem;
    box-shadow: 0px 2px 10px 0px rgba(30, 30, 30, 0.8);
    max-width: 140px;
    width: 100%;

}

img {
    max-width: min-content;
    width: 100%;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 10%;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.25);
    height: fit-content;
}


@media (max-width: 640.98px) {
    .logo-img {
        max-width: 100%;
        text-align: center;
    }

    img {
        max-width: 140px;
        width: 100%;
    }
}
