h2 {
    font-size: 24px;
    color: mediumvioletred;
    font-weight: bold;
}

#h3-form-todo {
    text-align: center;
    padding: 1rem;
    color: mediumvioletred;
    font-weight: bold;
}

/*Form css styling*/
label, input, select {
    margin-bottom: 2rem;
}

.form-label {
    margin-bottom: 0.5rem;
}
/*Article för varje todo*/
.todo-article {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    border-radius: 20px;
    border: 2px solid mediumvioletred;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.25);
}

.todo-form-wrapper {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    border-radius: 20px;
    border: 2px solid mediumvioletred;
}

.allcontent-wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.article-container {
    display: flex;
    width: 100%;
}

.priority-number-notis {
    display: inline;
    padding: 0.5rem 1rem;
    background-color: mediumvioletred;
    margin-right: 1rem;
    height: min-content;
    border-radius: 2rem;
    width: min-content;
    position: relative;
    top: 3rem;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/*btn styling*/
.btn-primary {
    color: #FFFFFF;
    background-color: #c71585;
    border: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 15px;
}

    .btn-primary:hover {
        background-color: #a4116d;
    }

    .btn-primary:focus {
        background-color: #a4116d;
    }


.btn-secondary {
    width: 100%;
    max-width: 25%;
    background-color: #949494;
    border: none;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 15px;
}

    .btn-secondary:hover {
        background-color: #808080;
    }

.btn-form {
    display: flex;
    flex: 50%;
    gap: 1rem;
}

.btn-add-form {
    width: 100%;
    max-width: 100%;
    background-color: mediumvioletred;
    padding: 1rem;
    font-size: 24px;
}

/*btn styling för ändra och radera knapp*/
.btn-todo-post-wrap {
    display: flex;
    gap: 1.5rem;
}

.check-todo {
    position: relative;
    bottom: 9rem;
    left: 36rem;
    width: 45px;
    height: 45px;
    accent-color: mediumvioletred;
    margin: 0;
}

.checkbox-form {
    width: 25px;
    height: 25px;
    position: unset;
}

.checkbox-label {
    margin: 0;
}
/*Media queries*/
@media (max-width: 640.98px) {
    .btn-add-form {
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
        margin-bottom: 0;
    }
}


