h2 {
    font-size: 24px;
    color: mediumvioletred;
    font-weight: bold;
}

#h3-form-todo {
    text-align: center;
    padding: 1rem;
    color: mediumvioletred;
    font-weight: bold;
}

/*Form css styling*/
label, input, select {
    margin-bottom: 2rem;
}

/*Article för varje todo*/
.todo-article {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    border-radius: 20px;
    border: 2px solid mediumvioletred;
    width: 100%
}

.todo-form-wrapper {
    background-color: #ffffff;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    border-radius: 20px;
    border: 2px solid mediumvioletred;
}

.article-container {
    display: flex;
    width: 100%;
}

.priority-number-notis {
    display: inline;
    padding: 0.5rem 1rem;
    background-color: mediumvioletred;
    margin-right: 1rem;
    height: min-content;
    border-radius: 2rem;
    width: min-content;
    position: relative;
    top: 2rem;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
/*btn styling*/
.btn-primary {
    color: #FFFFFF;
    background-color: mediumvioletred;
    border: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

    .btn-primary:hover {
        background-color: #8B0E5D;
    }

    .btn-primary:focus {
        background-color: #8B0E5D;
    }


.btn-secondary {
    width: 100%;
    max-width: 25%;
    background-color: grey;
    border: none;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.btn-form {
    display: flex;
    flex: 50%;
    gap: 1rem;
}

.btn-add-form {
    width: 100%;
    max-width: 100%;
    background-color: mediumvioletred;
    padding: 1rem;
    font-size: 24px;
}

/*btn styling för ändra och radera knapp*/
.btn-todo-post-wrap {
    display: flex;
    gap: 1.5rem;
}
